* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#header {
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 20px 25px;
    padding: 48px 0px;
    background-color: #FFF8F3;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.logo h3 {
    font-size: 2rem;
    font-weight: 800;
}

.logo span {
    color: #FD6E0A;
}

.main-menu ul {}

.menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu li {
    list-style: none;

}

.menu li a {
    text-decoration: none;
    color: #474747;
}

.menu li:last-child a {
    color: white;
}

.btn {
    color: white;
    padding: 15px 25px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

.btn2 {
    color: #d55c06;
    padding: 15px 25px;
    background-color: white;
    border: 1px solid #d55c06;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 1rem;
    transition: 0.5s;
}

.btn:hover {
    background-color: #d55c06;
    color: white;
}

/* end the nev section  */
/* the banner section starts */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}

.banner-content h2 {
    font-weight: 400;
    font-size: 2rem;
    color: #474747;

}

.banner-content h1 {
    font-weight: 800;
    font-size: 3rem;
    padding: 10px 0;
}

.content {
    color: #474747;
    font: 1rem;
    line-height: 25px;
    padding: 5px 0 15px;
}

.banner-container img {
    width: calc((50%-150px)/2);
    margin-bottom: -63px;
    margin-right: -100px;
}

/* start about section  */
#about-section{
    margin: 100px 0;
}
.about-me{
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 80px 20px 100px; 
}
.content-width{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}
.title{
    font-size: 2rem;
    font-weight: 700;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}
.about-content .content {
    padding: 0;
}
/* end the about section  */
.what-i-do-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 20px;
    padding: 25px 0;
}
.skills{
    padding: 25px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 3px 5px 10px 3px #b7b0b0;
}
.skills h4{
    padding: 20px 0;
}
.what-content {
    text-align: center;
    padding-bottom: 80px;
}
/* completed what i do section  */
#resume {
    padding: 30px 0 80px;
}
.resume-content .title, .resume-content .btn{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.resume-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    padding: 30px 0;
}
.col-left{
    width: calc((100%-15px)/2);
}
.resume-title{
    font-size: 1.5rem;
    padding: 20px 0;
    color: #474747;
}
.education-title{
    font-size: 1.1rem;
    padding: 10px 0;
    color: #474747;
}
.institute{
    font-size: 1rem;
    color: #474747;
    font-weight: 400;
}
.education .content{
    font-size: 0.8rem;
    color: #474747;
    width: 65%;
    padding: 15px 0 25px;
}
/* completed the Resume section  */
 #footer{
    background-color:  #FFF8F3;
    padding: 130px 0;
 }
 .contact{
    display: flex;
    justify-content: center;
    gap: 100px;
 }
 .connect{
   width: 50%;
 }
 .connect img{
    margin-right: 25px;
    display: inline;
 }
 .contact-us{
    width: 50%;
 }
 .contact-form input[type=text], input[type=email], textarea{
    display: block;
    padding: 20px 0 20px 20px;
    border: none;
    border-radius: 5px; 
    background-color: #FFF;
    margin: 20px 0;
    width: 96%;
    
 }
/* completed footer section  */

/* Responsive small devices  */
@media screen and (max-width: 576px) {

    .nav-menu,
    .menu, .contact {
        flex-direction: column;
    }

    .menu {
        margin-top: 10px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-container img {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    #header {
        background-image: none;
    }

    .banner-content {
        text-align: center;
        margin-top: 20px;
    }

    .banner-content .btn {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .banner-content .btn2 {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    #about-section{
        margin: 25px 0;
    }
    .content-width{
        width: 100%;
    }
    .about-content, .what-i-do-content{
        flex-direction: column;
        row-gap: 20px;
    }
    .resume-description{
        flex-direction: column;
        row-gap: 20px;
    }
    .education .content{
        width: 100%;
        text-align: justify;
    }
    .contact-us, .connect{
        width: 100%;
    }

}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    .what-i-do-content, .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-content{
        width: 100%;
    }
    .banner-container, .contact {
        flex-direction: column;
    }
    .contact-us, .connect{
        width: 100%;
    }
}